---
title: About
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{{ header.block() }}
	<div class="inner">
		<!-- begin wrap -->
		<div class="wrap">
			{{ leftBar.block([
				{
					open: true,
					title: 'Физические лица',
					icon: 'individuals.svg',
					list: ['Жилищные споры','Семейные споры','Возврат долгов','Спор с застройщиком','Адвокат по ДТП', 'Споры по недвижимости', 'Практика']
				},
				{
					title: 'Юридические лица',
					icon: 'legal-entities.svg',
					list: ['Link']
				},
				{
					open: true,
					title: 'Доп услуги',
					icon: 'additional-services.svg',
					list: ['Подбор кадров','Бюро переводов','Судебные курьеры','Проведение экспертиз','Детекция лжи и полиграфологи','Бухгалтерия и аудит']
				}
			]) }}
			<div class="col-main">
				<!-- begin section -->
				<div class="section section_white">
					<h2 class="section__title title">О нас</h2>
					<p>Московский Правовой Центр «Вектор» — это команда амбициозных юристов и адвокатов, чей профессионализм и опыт позволяют решать даже самые сложные правовые вопросы. Безупречное знание основ российского и международного законодательства, многолетний опыт работы в юриспруденции, хорошие и прочные связи с коллегами позволяют нам заниматься своим делом на высоком профессиональном уровне. Нашими клиентами являются как физические, так и юридические лица, которые по ряду причин столкнулись с необходимостью привлечения юриста. Большая часть из них являются постоянными и рекомендуют нас своим знакомым. Безупречная репутация говорит о юридической компании «Вектор» гораздо красноречивее любых слов.</p>
					<div class="img"><img src="./img/section-img-1.jpg" alt="section-img"></div>
					<h1 class="section__title title-sm">Направления деятельности</h1>
					<p>МПЦ «Вектор» работает в таких плоскостях российского законодательства, как:</p>
					<p>гражданское;</p>
					<p>административное;</p>
					<p>уголовное;</p>
					<p>семейное;</p>
					<p>трудовое;</p>
					<p>конституционное;</p>
					<p>жилищное;</p>
					<p>арбитражное;</p>
					<p>процессуальное.</p>
					<p>На счету сотрудников нашей компании сотни успешно решённых вопросов наших клиентов, касающихся:</p>
					<p>защиты интересов клиента при ДТП, бракоразводном процессе и других взаимоотношениях с другими лицами;</p>
					<p>решения имущественных, в том числе и жилищных конфликтов;</p>
					<p>наследования имущества;</p>
					<p>взаимодействия с органами государственной власти;</p>
					<p>представления интересов заказчика в суде и других инстанциях;</p>
					<p>подготовки различных документов, имеющих юридическую силу;</p>
					<p>разрешения конфликтов в пользу клиента с работодателем, наёмным работником, страховой компанией, банком, коллектором и другими участниками спорной ситуации.</p>
					<p>Мы прикладываем максимум усилий, чтобы защитить права и интересы каждого нашего клиента по этим и многим другим вопросам. Лучше обратиться к нам, чем пытаться решить проблему самостоятельно или привлекать к работе малограмотных «специалистов», мотивированных лишь на получение дохода. Основная мотивация наших специалистов: обеспечение правовой защищённости граждан и организаций, обратившихся к нам. Мы работаем на результат!</p>
					<h2 class="section__title title-sm">Кто в нашей команде?</h2>
					<p>К работе в МПЦ «Вектор» привлечены лучшие специалисты юриспруденции, у которых за плечами многолетняя юридическая практика. Каждый наш юрист или адвокат имеет высшее юридическое образование, а также оканчивал дополнительные курсы повышения квалификации.</p>
					<p>Личные качества сотрудников имеют немаловажное значение для клиента. Наши специалисты ценят Ваше свободное время, понимают всю важность возложенной на них миссии, объективно оценивают ситуацию, с которой Вы обратились к нам. Вся информация, полученная от клиентов, является строго конфиденциальной.</p>
					<p>Профессиональные качества наших сотрудников регулярно получают высокую оценку от тех, кто обращается к нам за помощью. Профессионализм и боевую хватку адвокатов и юристов МПЦ «Вектор» подтверждают и сотни выигранных судебных процессов, по результатам которых клиенты восстанавливали свои права, получали причитающуюся компенсацию за ущерб, возвращали данные в долг деньги и достигали других целей.</p>
					<p>У юристов МПЦ «Вектор» индивидуальный подход к каждому клиенту. Все дела мы решаем с учётом конкретных обстоятельств, не стараясь подогнать их под один шаблон. Это позволяет нам слаженно работать с клиентом и добиваться лучших результатов!</p>
					<h2 class="section__title title-sm">Преимущества МПЦ «Вектор»</h2>
					<p>На рынке юридических услуг столицы немало частных компаний, предоставляющих правовые услуги гражданам и юридическим лицам. От них выгодно отличается Московский Правовой Центр «Вектор»:</p>
					<p>мы размещаем только достоверную информацию о нашей компании;</p>
					<p>все наши сотрудники работают на результат, а не с целью получить выгоду;</p>
					<p>профессиональные качества наших юристов и адвокатов не подлежат сомнению – все они имеют высшее юридическое образование и достаточный опыт работы по специальности, чтобы браться за самые сложные заказы и доводить их до победного конца;</p>
					<p>ценовая политика МПЦ «Вектор» берёт за основу адекватную оценку высококачественного труда нашей команды и лояльное отношение к клиентам;</p>
					<p>офисы компании МПЦ «Вектор» находятся в шаговой доступности от четырёх станций московского метрополитена, что делает обращение к нам за помощью доступным;</p>
					<p>наши адвокаты и юристы решают поставленные перед ними задачи быстро, грамотно, результативно.</p>
					<p>Каждый, кто обращается за помощью к юристу или адвокату, хочет подробнее знать о юридической компании, с которой предстоит иметь дело. Московский Правовой Центр «Вектор» приложил максимум усилий, чтобы потенциальным клиентам была доступна вся самая важная и актуальная информация о нас:</p>
					<p>список наших сотрудников с информацией об уровне их профессионализма;</p>
					<p>оказываемые нами услуги с примерными ценами;</p>
					<p>направления деятельности компании;</p>
					<p>контактные данные офисов МПЦ «Вектор».</p>
				</div>
				<!-- end section -->
			</div>
			<div class="col-right">
				<div class="sidebar__group">
					<!-- begin infobanner -->
					<div class="infobanner infobanner_sm infobanner_white">
						<div class="infobanner__title title-md">Входим <span class="text-blue text-uppercase">В ТОП 10</span> юридических фирм Москвы</div>
						<div class="infobanner__row row">
							<div class="infobanner__col col col-6">
								<div class="infobanner__numb">3500</div>
								<div class="infobanner__text">Офисов в Москве</div>
							</div>
							<div class="infobanner__col col col-6">
								<div class="infobanner__numb">5000</div>
								<div class="infobanner__text">Офисов в Москве</div>
							</div>
						</div>
					</div>
					<!-- end infobanner -->
				</div>
				<div class="sidebar__group">
					{{ mixins.callback() }}
				</div>
				<div class="sidebar__group">
					<ul class="list-section list-section_sidebar">
						{% for title in [ 'Первичная консультация', 'Личная встреча и заключение договора', 'Разработка стратегии ведения дела', 'Сбор и подготовка документов' ] %}
						    <li class="list-section__item">
						    	<span class="list-section__title">{{ title }}</span>
						    	<span class="list-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin</span>
						    </li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<!-- end wrap -->
	</div>
	{% include "partials/_form.html" %}
	{% include "partials/_footer.html" %}

{% endblock %}
