---
title: Family-disputes
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{{ header.block() }}
	<div class="inner">
		<!-- begin wrap -->
		<div class="wrap">
			{{ leftBar.block([
				{
					open: true,
					title: 'Физические лица',
					icon: 'individuals.svg',
					activeClass: 2,
					list: ['Жилищные споры','Семейные споры','Возврат долгов','Спор с застройщиком','Адвокат по ДТП', 'Споры по недвижимости', 'Практика']
				},
				{
					title: 'Юридические лица',
					icon: 'legal-entities.svg',
					list: ['Link']
				},
				{
					open: true,
					title: 'Доп услуги',
					icon: 'additional-services.svg',
					list: ['Подбор кадров','Бюро переводов','Судебные курьеры','Проведение экспертиз','Детекция лжи и полиграфологи','Бухгалтерия и аудит']
				}
			]) }}
			<div class="col-main">
				<!-- begin section -->
				<div class="section section_white">
					<h1 class="section__title title">Семейные споры</h1>
					<p>Семья представляет собой определенную ячейку общества, которая совмещает в себе взаимоотношения супругов и их детей. Часто данные взаимоотношения переходят в негативное русло, приводя к расторжению брака. В таком случае, возникают определенные вопросы, которые требуют квалифицированной юридической помощи.</p>
				</div>
				<!-- end section -->
				<!-- begin section -->
				<div class="section section_white">
					<h2 class="section__title-sm title-sm">Услуги</h2>
					<div class="text-md">
						<ul class="list text-blue">
						{% for text in ['Расторжение брака через суд','Взыскание алиментов','Определение места жительства ребенка','Раздел имущества супругов','Определение порядка общения с ребенком','Признание брака недействительным через суд','Семейный адвокат','Лишение (ограничение) родмтельских прав'] %}
						<li>{{ text }}</li>
						{% endfor %}
						</ul>
						<p>За долгие годы профессиональной практики в данной сфере наша компания заслужила определенный авторитет среди большинства конкурентов и благодарных клиентов. Профессиональные юристы по семейным вопросам всегда готовы разобраться во всех тонкостях и нюансах индивидуального случая, гарантируя максимальную конфиденциальность своим клиентам.</p>
					</div>
				</div>
				<!-- end section -->
				<!-- begin section -->
				<div class="section section_blue">
					<h2 class="section__title-sm title-sm">Работаем даже с самыми сложными ситуациями</h2>
					<ul class="img-list">
						{% for text in ['Развод без согласия супруга/супруги','Выписка супруга/супруги из квартиры','Определение места жительства ребенка','Ограничение и лишение родительских прав'] %}
						    <li class="img-list__item">{{ text }}</li>
						{% endfor %}
					</ul>
				</div>
				<!-- end section -->
				<!-- begin section -->
				<div class="section section_white">
					<div class="text-md">
						<h2 class="section__title-sm title-sm">Особенности юридической помощи</h2>
						<p>Все юристы нашей компании обладают должным уровнем квалификации и опыта работы в сфере семейного права. Наши юристы по семейным делам предлагают полный перечень услуг, направленных на решение семейных вопросов. К ним относятся:</p>
						<ul class="list">
						{% for text in ['высококвалифицированная консультация в сфере семейного права;','составление и сопровождение юридических документов;','помощь в решении семейных вопросов на досудебной стадии;','составление и сопровождение претензий по разнообразным семейным спорам;','помощь по семейным делам в суде.'] %}
						<li>{{ text }}</li>
						{% endfor %}
						</ul>
						<h2 class="section__title-sm title-sm">Основные виды услуг</h2>
						<p>Помощь при семейных спорах, которую предоставляет наша компания, включает широкий спектр профессиональных услуг. К ним относятся:</p>
						<ul class="list">
						{% for text in ['квалифицированные консультации по вопросам развода, раздела имущества, лишения родительских прав и других семейных споров;','сбор всех необходимых документов для предъявления в суде;','оформление необходимой документации о расторжении брака, разделе общего имущества, взыскания алиментов;','составление документации и сопровождение клиента при досудебном решении спора;','составление документации и сопровождение всех типов бракоразводных процессов;', 'юридическая помощь в разделе общего имущества при расторжении брака;', 'оформление права передачи определенного имущества в собственность;', 'сопровождение наследственных споров;', 'помощь в вопросах лишения родительских прав;', 'ведение всех типов семейных дел в исполнительном порядке и другие виды юридической помощи.'] %}
						<li>{{ text }}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
				<!-- end section -->
				<!-- begin section -->
				<div class="section section_blue">
					<h2 class="section__title-sm section__title-sm_bord title-sm">Почему необходимо обратиться к юристу/адвокату?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
				</div>
				<!-- end section -->
				<!-- begin section -->
				<div class="section section_white">
					<div class="text-md">
						<h2 class="section__title-sm title-sm">Запись на консультацию</h2>
						<p>Для того чтобы воспользоваться одним из видов услуг, которые предлагает наша компания, необходимо предварительно записаться на консультацию. Наши высококвалифицированные юристы с большим опытом работы полностью проанализируют ситуацию клиента, предлагая наиболее оптимальные варианты решения вопроса.</p>
						<p>Юрист по семейным делам позволит максимально оперативно урегулировать любой спор без стресса и дополнительных эмоциональных переживаний клиента. Опытный профессионал способен вступить в разбирательство по делу клиента еще на стадии досудебного производства. Помощь при семейных спорах от нашей компании позволит максимально быстро решить все вопросы, которые могут возникнуть в ходе судебного разбирательства, что непременно приведет к положительному результату дела.</p>
					</div>
				</div>
				<!-- end section -->
				<!-- begin section -->
				<div class="section">
					<h2 class="section__title-sm title-sm">Стоимость</h2>
					<!-- begin cost -->
					<div class="cost">
						{% for item in [
							{
								text: 'Консультация по телефону',
								time: '30 мин',
								tot: 'Бесплатно'
							},
							{
								text: 'Первичный прием',
								time: '60 мин',
								tot: 'Бесплатно'
							},
							{
								text: 'Lorem ipsum dolor sit amet',
								time: '60 мин',
								tot: '5 000 ₽'
							},
							{
								text: 'Lorem ipsum dolor sit amet',
								time: '60 мин',
								tot: '5 000 ₽'
							}
						] %}
						<div class="cost__field">
							<div class="cost__text">{{ item.text }}</div>
							<div class="cost__time">{{ item.time }}</div>
							<div class="cost__tot">{{ item.tot }}</div>
						</div>
						{% endfor %}
					</div>
					<!-- end cost -->
				</div>
				<!-- end section -->
			</div>
			<div class="col-right">
				{% include "partials/_sidebar.html" %}
			</div>
		</div>
		<!-- end wrap -->
	</div>
	{% include "partials/_form.html" %}
	{% include "partials/_footer.html" %}

{% endblock %}
