---
title: Physical persons
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{{ header.block() }}
	<div class="inner">
		<!-- begin wrap -->
		<div class="wrap">
			{{ leftBar.block([
				{
					open: true,
					title: 'Физические лица',
					icon: 'individuals.svg',
					list: ['Жилищные споры','Семейные споры','Возврат долгов','Спор с застройщиком','Адвокат по ДТП', 'Споры по недвижимости', 'Практика']
				},
				{
					title: 'Юридические лица',
					icon: 'legal-entities.svg',
					list: ['Link']
				},
				{
					open: true,
					title: 'Доп услуги',
					icon: 'additional-services.svg',
					list: ['Подбор кадров','Бюро переводов','Судебные курьеры','Проведение экспертиз','Детекция лжи и полиграфологи','Бухгалтерия и аудит']
				}
			]) }}
			<div class="col-main">
				<!-- begin section -->
				<div class="section section_white">
					<h1 class="section__title title">Услуги физическим лицам</h1>
					<p>Далеко не каждый гражданин нашей страны может похвастаться знанием основ современного законодательства и умением составлять официальные документы. А ведь ситуации, требующие квалифицированных юридических знаний, возникают довольно часто. И тут уже без профессионалов не обойтись.</p>
					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
					</blockquote>
					<!-- begin soc -->
				<ul class="soc soc_blue">
					{% for icon in ['vk','fb','inst'] %}
					    <li class="soc__item">
					    	<a href="#" class="soc__link">{{ mixins.icon(icon) }}</a>
					    </li>
					{% endfor %}
				</ul>
				<!-- end soc -->
				</div>
				<!-- end section -->
				<!-- begin section -->
				<div class="section">
					<h2 class="section__title-sm title-sm">Практики</h2>
					<!-- begin items -->
					<div class="items row">
						{% for text in ['Жилищние споры','Семейные споры','Споры <br>с застройщиками','Уголовные дела','Возврат долгов','Адвокат при ДТП'] %}
						    <div class="items__col col col-4">
						    	<!-- begin service -->
						    	<div class="service">
						    		<div class="service__icon">
						    			{{ mixins.icon('combined') }}
						    		</div>
						    		<div class="service__title">
						    			<div class="service__title-inner">{{ text | safe }}</div>
						    		</div>
						    	</div>
						    	<!-- end service -->
						    </div>
						{% endfor %}
					</div>
					<!-- end items -->
				</div>
				<!-- end section -->
				<!-- begin section -->
				<div class="section">
					<h2 class="section__title-sm title-sm">Стоимость</h2>
					<!-- begin cost -->
					<div class="cost">
						{% for item in [
							{
								text: 'Консультация по телефону',
								time: '30 мин',
								tot: 'Бесплатно'
							},
							{
								text: 'Первичный прием',
								time: '60 мин',
								tot: 'Бесплатно'
							},
							{
								text: 'Lorem ipsum dolor sit amet',
								time: '60 мин',
								tot: '5 000 ₽'
							},
							{
								text: 'Lorem ipsum dolor sit amet',
								time: '60 мин',
								tot: '5 000 ₽'
							}
						] %}
						<div class="cost__field">
							<div class="cost__text">{{ item.text }}</div>
							<div class="cost__time">{{ item.time }}</div>
							<div class="cost__tot">{{ item.tot }}</div>
						</div>
						{% endfor %}
					</div>
					<!-- end cost -->
				</div>
				<!-- end section -->
				<!-- begin section -->
				<div class="section section_white">
					<ul class="list-section">
						{% for title in [ 'Первичная консультация', 'Личная встреча и заключение договора', 'Разработка стратегии ведения дела', 'Сбор и подготовка документов' ] %}
						    <li class="list-section__item">
						    	<span class="list-section__title">{{ title }}</span>
						    	<span class="list-section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin</span>
						    </li>
						{% endfor %}
					</ul>
				</div>
				<!-- end section -->
			</div>
			<div class="col-right">
				{% include "partials/_sidebar.html" %}
			</div>
		</div>
		<!-- end wrap -->
	</div>
	{% include "partials/_form.html" %}
	{% include "partials/_footer.html" %}

{% endblock %}
