{% import "partials/_mixins.html" as mixins %}
{% macro block(props) %}
<!-- begin header -->
<header class="header{% if props.class %} {{ props.class }}{% endif %} js-header">
	<div class="header__inner inner">
		<div class="header__top-sm">
			<a href="mailto:info@mpcvector.ru" class="header__mail">info@mpcvector.ru</a>
			<a href="tel:+74952121027" class="header__phone">+7 (495) 212-10-27</a>
		</div>
		<div class="header__top">
			<div class="header__search">
				<!-- begin search -->
				<div class="search">
					<button class="search__btn" type="butoon">
						{{ mixins.icon('search') }}
					</button>
				</div>
				<!-- end search -->
			</div>
			<div class="header__center">
				<a href="mailto:info@mpcvector.ru" class="header__mail sm-hide">info@mpcvector.ru</a>
				<a href="/" class="header__logo logo">
					<h1>Вектор</h1>
					<img src="./img/{{ props.logoImg or 'logo.png' }}" alt="logo">
				</a>
				<a href="tel:+74952121027" class="header__phone sm-hide">+7 (495) 212-10-27</a>
			</div>
			<div class="header__right">
				<a class="btn md-hide" href="#">Обрытнй звонок</a>
				<button class="btn-menu js-btn-menu" type="button">
					<span class="btn-menu__line"></span>
					<span class="btn-menu__line"></span>
					<span class="btn-menu__line"></span>
				</button>
			</div>
		</div>
		<div class="header__bottom">
			<!-- begin nav -->
			<nav class="nav md-hide">
				<ul class="nav__list">
					{% for text in ['Главная','Физическим лицам','Юридическим лицам','О нас','Команда','Пресс центр','Контакты'] %}
					    <li class="nav__item">
					    	<a href="#" class="nav__link{% if loop.index === 2 %} is-active{% endif %}">{{ text }}</a>
					    </li>
					{% endfor %}
				</ul>
			</nav>
			<!-- end nav -->
			<div class="header__section">
				<div class="header__page">Главная</div>
				<!-- begin accordions -->
				<div class="accordions" data-accordion-group data-accordion-multiple>
					<!-- begin accordion -->
					<div class="accordion accordion_header" data-accordion-item data-accordion-open>
						<div class="accordion__head" data-accordion-trigger>
							<div class="accordion__title">Физическим лицам</div>
							<div class="accordion__arrow">
								{{ mixins.icon('arrow-bottom') }}
							</div>
						</div>
						<div class="accordion__container" data-accordion-container>
							<ul class="accordion__list">
								{% for text in ['Жилищные споры','Семейные споры','Возврат долгов','Спор с застройщиком','Адвокат по ДТП','Споры по недвижимости','Практика'] %}
							    <li class="accordion__item">
							    	<a href="#" class="accordion__link{% if accordion.activeClass === loop.index %} is-active{% endif %}">{{ text }}</a>
							    </li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- end accordion -->
					<!-- begin accordion -->
					<div class="accordion accordion_header" data-accordion-item>
						<div class="accordion__head" data-accordion-trigger>
							<div class="accordion__title">Юридическим лицам</div>
							<div class="accordion__arrow">
								{{ mixins.icon('arrow-bottom') }}
							</div>
						</div>
						<div class="accordion__container" data-accordion-container>
							<ul class="accordion__list">
								{% for text in ['Page','Page','Page','Page','Page','Page'] %}
							    <li class="accordion__item">
							    	<a href="#" class="accordion__link{% if accordion.activeClass === loop.index %} is-active{% endif %}">{{ text }}</a>
							    </li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- end accordion -->
					<div class="accordion accordion_header">
						<a href="#" class="header-link">О нас</a>
					</div>
					<!-- begin accordion -->
					<div class="accordion accordion_header" data-accordion-item>
						<div class="accordion__head" data-accordion-trigger>
							<div class="accordion__title">Команда</div>
							<div class="accordion__arrow">
								{{ mixins.icon('arrow-bottom') }}
							</div>
						</div>
						<div class="accordion__container" data-accordion-container>
							<ul class="accordion__list">
								{% for text in ['Page','Page','Page','Page','Page','Page'] %}
							    <li class="accordion__item">
							    	<a href="#" class="accordion__link{% if accordion.activeClass === loop.index %} is-active{% endif %}">{{ text }}</a>
							    </li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- end accordion -->
					<!-- begin accordion -->
					<div class="accordion accordion_header" data-accordion-item>
						<div class="accordion__head" data-accordion-trigger>
							<div class="accordion__title">Пресс центр</div>
							<div class="accordion__arrow">
								{{ mixins.icon('arrow-bottom') }}
							</div>
						</div>
						<div class="accordion__container" data-accordion-container>
							<ul class="accordion__list">
								{% for text in ['Page','Page','Page','Page','Page','Page'] %}
							    <li class="accordion__item">
							    	<a href="#" class="accordion__link{% if accordion.activeClass === loop.index %} is-active{% endif %}">{{ text }}</a>
							    </li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- end accordion -->
					<a href="#" class="header-link">Контакты</a>
				</div>
				<!-- end accordions -->
			</div>
			<a class="header__btn-md btn btn_full" href="#">Обрытнй звонок</a>
		</div>
	</div>
</header>
<!-- end header -->
{% endmacro %}