.comment
	padding: 25px 25px 35px
	+fnssc
	+f(17px,900,1.2)
	letter-spacing: .0135em
	color: $mainColor
	border-radius: 4px
	box-shadow: 0 10px 30px -5px #E3E6F5
	background-color: $white
	+sm
		padding: 25px 22px 35px
	.sidebar &
		padding: 25px 15px 35px
	&__top
		align-items: center
		display: flex
		margin-bottom: 15px
	&__img
		margin-right: 15px
		flex-shrink: 0
		+circle(50)
		background-size: cover
		background-position: center
	&__title
		line-height: 1.5
		color: $mainColor