.icon-arrow-bottom {
  width: 1.63em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-next {
  width: 1.25em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-prev {
  width: 1.25em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow {
  width: 0.62em;
  height: 1em;
  fill: currentColor;
}
.icon-combined {
  width: 1.17em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-fb {
  width: 0.52em;
  height: 1em;
  fill: currentColor;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1.83em;
  height: 1em;
  fill: currentColor;
}
